/*
    You can add your own custom styles here.
*/

:root {
    --main-top-padding: 30px;
    --card-border-radius: 25px;
    --tag-border-radius: 8px;
    --article-font-size: 1.8rem;
}

.sidebar .site-description {
    white-space: pre-line;
}
